## Make Submission

In [14]:
# fit model on all data
reg = AvgSpeed()
reg.fit(training, training.ETA)
reg.avg # time / distance

0.10475614041193526

In [15]:
# run test data through
submission = testing.copy()
submission['ETA'] = reg.predict(testing)
submission.head()

,Timestamp,Origin_lat,Origin_lon,Destination_lat,Destination_lon,Trip_distance,ETA
ID,,,,,,,
000V4BQX,2019-12-21 05:52:37+00:00,2.981,36.688,2.978,36.754,17549,1838.365508
003WBC5J,2019-12-25 21:38:53+00:00,3.032,36.769,3.074,36.751,7532,789.023250
004O4X3A,2019-12-29 21:30:29+00:00,3.035,36.711,3.010,36.758,10194,1067.884095
006CEI5B,2019-12-31 22:51:57+00:00,2.902,36.738,3.208,36.698,32768,3432.649209
009G0M2T,2019-12-28 21:47:22+00:00,2.860,36.692,2.828,36.696,4513,472.764462

In [16]:
# save
# submission[['ETA']].to_csv('baseline_submit_base.csv')

# add weather data and try other models

# make submission